:root {
  --color-main: #0B3954;
  --color-accent: #FF6663;
  --color-second: #BFD7EA;
  --header-height: 100px;
  --app-max-width: 1200px;
}

.buy-button--hover {
  background-color: var(--color-accent);
  fill: currentColor;
}

.header a:visited,
.header a:active,
.header a:link,
.header svg {
  color: var(--color-main);
  fill: currentColor;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.content {
  max-width: var(--app-max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  padding-block: 20px;
  padding-inline: 40px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  gap: 20px;
  max-height: var(--header-height);
}

.header__popular {
  max-width: 500px;
  user-select: none;
}

.page-buy {
  flex-direction: column;
}

.page-buy__form {
  gap: 16px;
}

@media (max-width: 400px) {
  .header {
    padding: 5px;
    gap: 5px;
  }

  .header__popular {
    font-size: 0.8rem;
  }

  .page-buy {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .page-buy__form {
    flex-direction: column;
    gap: 0;
  }

  .page-buy__form button {
    width: 100%;
  }
}

@media (hover: hover) {

  .header a:hover,
  .header svg:hover {
    color: var(--color-accent);
    fill: currentColor;
  }
}

@media (hover: none) {

  .header a:active,
  .header svg:active {
    color: var(--color-accent);
    fill: currentColor;
  }
}