:root {
  --color-main: #0B3954;
  --color-accent: #FF6663;
  --color-second: #BFD7EA;
}

.buy-button--hover {
  background-color: var(--color-accent);
  fill: currentColor;
}

a,
a:visited,
a:active,
a:link,
a svg {
  color: var(--color-main);
  fill: currentColor;
}

/* цвет?*/
.header a:hover,
.header svg:hover {
  color: var(--color-accent);
  fill: currentColor;
}

.pointer {
  cursor: pointer;
  user-select: none;
}


.content {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.header {
  padding-block: 20px;
  padding-inline: 40px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  gap: 20px;
  max-height: 105px;
  /* background: var(--color-second); */
}

.header__popular {
  max-width: 500px;
  user-select: none;
}

/* .portfolio  */

@media (max-width: 540px) {
  .header {
    padding: 5px;
    gap: 5px;
  }

  /* .header__popular {
    max-width: 200px;
    display: none;
  } */
}


/* .pointer:hover {
  background-color: var(--color-accent)
} */


/* loader */