:root {
  --color-main: #1C0F13;
  --color-accent: #B7CECE;
  --color-second: #f5f5f5;
}

body {
  background-color: var(--color-second);

}

.content {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  gap: 20px;
  max-height: 105px;
}

.header__popular {
  max-width: 500px;
}

@media (max-width: 540px) {
  .header {
    padding: 5px;
    gap: 5px;
  }

  .header__popular {
    max-width: 150px;
  }
}

.pointer {
  cursor: pointer;
  user-select: none;
}


/* loader */
.loader {
  width: 80px;
  height: 80px;
  color: #000000;
  display: grid;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: linear-gradient(currentColor 0 0);
  background:
    var(--c) 0 0,
    var(--c) 100% 0,
    var(--c) 100% 100%,
    var(--c) 0 100%;
  background-repeat: no-repeat;
  animation:
    l10-1 1s infinite linear,
    l10-2 1s infinite linear;
}

.loader::after {
  margin: 20px;
  transform: scale(-1);
}

@keyframes l10-1 {
  0% {
    background-size: 0 8px, 8px 0, 0 8px, 8px 0
  }

  12.5% {
    background-size: 100% 8px, 8px 0, 0 8px, 8px 0
  }

  25% {
    background-size: 100% 8px, 8px 100%, 0 8px, 8px 0
  }

  37.5% {
    background-size: 100% 8px, 8px 100%, 100% 8px, 8px 0
  }

  45%,
  55% {
    background-size: 100% 8px, 8px 100%, 100% 8px, 8px 100%
  }

  62.5% {
    background-size: 0 8px, 8px 100%, 100% 8px, 8px 100%
  }

  75% {
    background-size: 0 8px, 8px 0, 100% 8px, 8px 100%
  }

  87.5% {
    background-size: 0 8px, 8px 0, 0 8px, 8px 100%
  }

  100% {
    background-size: 0 8px, 8px 0, 0 8px, 8px 0
  }
}

@keyframes l10-2 {

  0%,
  49.9% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  50%,
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}